---
import type { CollectionEntry } from "astro:content";

interface Props {
  episode: CollectionEntry<"episodes">;
}

const { episode } = Astro.props;
---

<a href={"/episodes/" + episode.data.number} class="episode-card-link">
  <article class="episode-card">
    <div class="episode-info">
      <span class="episode-number">#{episode.data.number}</span>

      <time datetime={episode.data.date.toISOString()} class="episode-date">
        {
          episode.data.date.toLocaleDateString("en-US", {
            year: "numeric",
            month: "long",
            day: "numeric",
            timeZone: "UTC"
          })
        }
      </time>
    </div>
    <h3 class="episode-title">
      {episode.data.title}
    </h3>

    <p class="episode-description">
      {episode.data.teaser ?? episode.data.description}
    </p>
  </article>
</a>

<style>
  .episode-card-link {
    text-decoration: none;
    color: inherit;
    display: block;
  }

  .episode-card {
    padding: 1.5rem;
    border: 1px solid var(--base-color-light);
    border-radius: 8px;
    background: white;
    transition: all 0.2s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .episode-card-link:hover .episode-title {
    text-decoration: underline;
  }

  .episode-card-link:hover .episode-card {
    border-color: var(--primary-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .episode-card > * {
    margin: 0.25rem 0;
  }

  .episode-title {
    font-size: 1.25em;
    line-height: 1.2;
    font-weight: 500;
    color: var(--primary-color-dark);
    margin-bottom: 0.5rem;
  }

  .episode-info {
    display: flex;
    align-items: baseline;
    gap: 1em;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--base-color-light);
    font-size: clamp(.875rem,.7em,.7em);
    margin-bottom: 0.75rem;
  }

  .episode-number {
    color: white;
    font-weight: 600;
    background: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    display: inline-block;
  }

  .episode-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    margin: 0;
    font-size: clamp(1rem, 0.875em, 0.875em);
    color: var(--base-color);
  }
</style>
