---
import PlatformActions from "./PlatformActions.astro";
---

<footer>
  <p>© 2024 Front-End Fire</p>
  <PlatformActions />
</footer>

<style>
  footer {
    margin-top: 3em;
    margin-bottom: 2em;
    text-align: center;
  }

  p {
    margin: 0;
  }
</style>
