---
import PlatformActions from "./PlatformActions.astro";
---

<footer>
  <PlatformActions />
  <p>
    <a class="media-action" href="mailto:frontendfirepodcast@gmail.com">
      frontendfirepodcast@gmail.com
    </a>
    <a
      class="media-action"
      href="https://twitter.com/front_end_fire"
      target="_blank">@front_end_fire</a
    >
  </p>
  <p>© 2025 Front-End Fire</p>
</footer>

<style>
  footer {
    margin-top: 3em;
    margin-bottom: 2em;
    text-align: center;
  }

  p {
    margin: 0.25em 0;
  }
</style>
