---
interface Props {
  title: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --base-color: #3d3c40;
    --base-color-dark: #161619;
    --base-color-light: #86828d;
    --primary-color-light: #f48b45;
    --primary-color: #e7823f;
    --primary-color-dark: #bc5008;
    --off-white: #f5f5f5;
    --content-width: 90vw;
  }

  html {
    box-sizing: border-box;
    height: 100%;
    font-size: 100%;
    line-height: 1.5;
    background-color: var(--off-white);
    color: var(--base-color);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    font-size: clamp(1rem, 1.25vw, 1.5rem);
    background-image: repeating-linear-gradient(
      45deg,
      #f4ede5 0,
      #f4ede5 1px,
      #f5f5f5 0,
      #f5f5f5 50%
    );
    background-size: 7px 7px;
  }

  main {
    flex-grow: 1;
    width: var(--content-width);
    margin: 0 auto;
  }

  a {
    color: var(--primary-color);
    text-decoration: none;
  }

  a:visited {
    color: var(--primary-color-dark);
  }

  a:hover,
  a:focus,
  a:active {
    color: var(--primary-color-light);
    text-decoration: underline;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 1px;
  }

  strong {
    font-weight: 400;
  }

  img {
    vertical-align: middle;
  }

  .section-heading {
    margin: 2rem 0 1rem;
    color: var(--base-color-dark);
    font-size: 1em;
    text-decoration: underline;
    text-decoration-thickness: 0.15em;
    text-underline-offset: 0.2em;
    text-decoration-color: var(--primary-color);
    text-transform: uppercase;
  }

  .tag {
    display: inline-block;
    padding: 0 0.35em;
    background-color: var(--primary-color);
    color: var(--off-white);
    line-height: 1.4;
    border-radius: 4px;
    text-transform: none;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
</style>
